@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #333;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #333; 
  color: #f5f5f5; 
}

.timer-title {
  color: #ffffff; 
  font-size: 3.5rem;
  margin-top: 0px;
}

.timer-display {
  font-size: 30px;
  color: #ffffff; 
  gap: 20px;
  width: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.timer-display p {
  border: 1px solid rgb(60, 223, 133);
  background-color: rgb(60, 223, 133);
  border-radius: 6px;
  padding: 15px;
  width: 60px;
  display: inline-block;
  text-align: center;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.4); /* Sombreado más visible */
  font-weight: bold;
}





.timer-button {
  width: 120px;
  margin-top: var(--padding);
  margin-right: 10px; 
  padding: 1rem; 
  border-radius: 360px;
  border: none;
  background-color: rgb(85, 187, 255); 
  color: white; 
  font-size: 22px;
  font-weight: bold; 
  cursor: pointer;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.4); /* Sombreado más visible */
}


.timer-button:hover {
  background-color: #8adeff; 
}

.reset-button {
  background-color: #F44336; 
  color: white;
}

.reset-button:hover {
  background-color: #ff8484; 
}


.timer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #444; 
  padding: 3rem; 
  border-radius: 12px;
  width: 500px;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.2); /* Sombreado más visible */
}

.timer-buttons {
  display: flex; 
  justify-content: space-between;
  gap: 10px;
  margin-top: 50px;
}

/* Estilos responsivos */
@media (max-width:768px) {
    .timer-title {
        font-size :2rem;
    }
    .timer-display {
        font-size :1.5rem;
    }
    .timer-button {
        font-size :0.8rem;
    }
    .timer-box {
        padding :2rem;
    }
}
